.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 5px double black;
    border-radius: 15px;
    background-color: rgb(0, 255, 234) ;
  }
  input{
    border-radius: 15px;
    background-color: rgb(209, 78, 78); 
    color: black;
  }
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    background-color: rgb(0, 217, 255);
    border: 2px solid black;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: black;
    color: #ccc;
  }
  